<template name="s3_tester">
<input type="file" class="form-control file_bag">
  <br>
    <button class="hideafterupload btn btn-primary upload">Upload</button>
     <div class="progress" style="width:300px">
  <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="{{percent_uploaded}}" aria-valuemin="0" aria-valuemax="100" style="width: {{percent_uploaded}}%">
    <span data-file="{{url}}" class="thefile">{{percent_uploaded}}% Complete</span>
  </div>
   </div>
</template>
